  <div class="create-ig-layout">
    <div class="title">
      <h5>Create new IG Document</h5>
    </div>
    <div class="alerts">
      <app-alerts-container></app-alerts-container>
    </div>
    <div class="metadata">
     <form [formGroup] = "creationForm">
       <form-input [type]="'text'" [id]="'title'" [name]="'title'" formControlName="title" [(_value)]="model.metadata.title" [required]="true" [placeholder]="'IG Document Title'" [label]="'IG Document Title*'"></form-input>
     </form>
    </div>

    <div class="messages">
      <app-select-messages [table]="table$ | async "  [hl7Versions]=" hl7Version$ | async" (selected)="getVersion($event)" (messages)="setSelected($event)"></app-select-messages>
     </div>

    <div class="submit">
      <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]=" creationForm.invalid || !model.msgEvts.length">Create IG Document</button>
    </div>
  </div>
