@import '../../assets/variables';

// .wrapper {
//   @extend %blue-bg;
//   display: grid;
//   grid-gap: 2px;
//   grid-template-columns: [sidebar] 3fr [content-panel] 9fr [content-panel-end];
//   grid-template-rows: [row-titlebar] 50px [row-toolbar] 40px [row-content] auto;
//   color: #444;
//   height: 100%;
// }

// .title-text {
//   margin: 0;
// }

// .toolbar-button {
//   margin-right: 5px;
// }

// .titlebar {
//   grid-column: sidebar / content-panel-end;
//   grid-row: row-titlebar;
//   padding: 5px;
//   background-color: white;
//   align-items: center;
//   justify-items: center;
//   display: flex;
// }
// .toolbar {
//   grid-column: sidebar / content-panel-end;
//   grid-row: row-toolbar;
//   @extend %blue-bg;
//   grid-gap: 2px;
//   display: grid;
//   grid-template-columns: [toolbar-sidebar] 3fr [content-toolbar] 9fr [content-toolbar-end];
//   grid-template-rows: [row-titlebar] auto;
// }
// .sidebar {
//   grid-column: sidebar;
//   grid-row: row-content;
//   @extend %blue-bg;
//   display: grid;
//   grid-gap: 2px;
//   grid-template-columns: [sidebar-content] auto;
//   grid-template-rows: [sidebar-header] 50px [sidebar-content-row] auto;
// }

// .sidebar-header {
//   grid-column: sidebar-content;
//   grid-row: sidebar-header;
//   background-color: #fafafa;
//   display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-around;
// }

// .sidebar-content {
//   grid-column: sidebar-content;
//   grid-row: sidebar-content-row;
//   background-color: #fafafa;
// }

// .content {
//   grid-column: content-panel ;
//   grid-row: row-content;
//   @extend %blue-bg;
//   display: grid;
//   grid-gap: 2px;
//   grid-template-columns: [content-column] auto [content-column-end];
//   grid-template-rows: [content-titlebar] 50px [content-container] max-content;
// }

// .titlebar-content {
//   grid-column: content-column / content-column-end;
//   grid-row: content-titlebar;
//   padding: 5px;
//   background-color: white;
//   align-items: center;
//   justify-items: center;
//   display: flex;
// }

// .toc-filter {
//   grid-column: toolbar-sidebar;
//   grid-row: row-titlebar;
//   background-color: #fafafa;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// .toolbar-controls {
//   grid-column: content-toolbar;
//   grid-row: row-titlebar;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   background-color: white;
//   align-items: flex-end;
// }

// .content-container {
//   grid-column: content-column;
//   grid-row: content-container;
//   padding: 10px;
//   overflow: scroll;
//   background-color: white;
// }



.layout {
  @extend %blue-bg;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 3fr 9fr;
  grid-template-rows: 50px 40px 50px auto;
  grid-template-areas:  'head head'
                        'sidebar toolbar'
                        'sidebar content-head'
                        'sidebar content';
  color: #444;
  height: 100%;
}

.sec {
  background-color : white;
}
.head {
  grid-area: head;
}

.toolbar {
  grid-area: toolbar;
}

.sidebar-head {
  grid-area: sidebar-head;
}

.content-head {
  grid-area: content-head;
}

.sidebar {
  @extend %blue-bg;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: auto;
  grid-template-rows: 40px 50px auto;
  grid-template-areas:  'sidebar-title'
                        'sidebar-filter'
                        'sidebar-content';
  color: #444;
  height: 100%;
}

.sidebar-title {
  grid-area: sidebar-title;
}

.sidebar-filter {
  grid-area: sidebar-filter;
}

.sidebar-content {
  grid-area: sidebar-content;
  max-height: 100%;
  overflow: scroll;
}

.content {
  grid-area: content;
  max-height: 100%;
  overflow: scroll;
}

