
<form [formGroup] = "resetForm" class="p-grid p-dir-col p-justify-center" novalidate>

  <form-input [type]="'password'" [id]="'password'" [name]="'password'" formControlName="password"  [(_value)] = "password" [required]="true" [placeholder]="'Enter Password'" [label]="'Password*'"></form-input>

  <form-input [type]="'password'" [id]="'confirmpassword'" [name]="'confirmpassword'" formControlName="confirmPasswordForm"  [(_value)] = "confirmPassword" [required]="true" [placeholder]="'Confirm Password'" [label]="'Confirm password*'"></form-input>
  <div class="p-grid p-col p-justify-end">
    <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="resetForm.invalid">reset</button>
  </div>

</form>
