/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/variables";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: Verdana,Geneva,sans-serif !important;
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

%page-container {
  height: 100%;
  width: 100%;
  min-height: $workspace_min_height;
}
.page-container-pad {
  @extend %page-container;
  padding-top: $header_height;
}

.page-container-nopad {
  @extend %page-container;
}

.fill_height {
  height: 100%;
}
